.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 510px;
  min-height: 520px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  border: 1px solid rgba(39, 39, 39, 0.1);
  border-radius: 5px;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 45px;

    h3 {
      margin-top: 40px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
    }
  }

  &__bottom {
    width: 65%;
    margin-top: 20px;

    label {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: rgba(23, 23, 25, 0.3);
    }

    input {
      padding: 10px 15px !important;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #272727;
    }

    .ant-form-item-control-input-content {
      text-align: center;
    }

    button {
      width: 175px;
      height: 100%;
      margin: 0 auto;
    }
  }
}
